<div class="d-flex flex-column h-100">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" [routerLink]="['/']">homeschool.events</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/submit']"
              routerLinkActive="active"
            >
              Submit
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">
        Created by <a href="https://e1.lc/tAfSUQ">eventOne</a> -
        <a href="https://github.com/eventOneHQ/homeschool.events">
          Open Source
        </a>
      </span>
      <span class="text-muted float-right">
        &copy; {{ year }} eventOne, Inc.
      </span>
    </div>
  </footer>
</div>
