<div class="d-flex flex-column h-100">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">
        Created by <a href="https://e1.lc/tAfSUQ">eventOne</a> -
        <a href="https://github.com/eventOneHQ/homeschool.events">
          Open Source
        </a>
      </span>
      <span class="text-muted float-right">
        &copy; {{ year }} eventOne, Inc.
      </span>
    </div>
  </footer>
</div>
