<div class="row mt-2">
  <div class="col">
    <h1>Submit an event</h1>

    <form id="submitForm" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <input
          type="text"
          class="form-control"
          id="url"
          formControlName="url"
        />
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" formControlName="type">
          <option value="Convention">Convention</option>
        </select>
      </div>

      <!--<div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div> -->

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input
          type="date"
          class="form-control"
          name="startDate"
          formControlName="startDate"
        />
      </div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <input
          type="date"
          class="form-control"
          name="endDate"
          formControlName="endDate"
        />
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
        />
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" formControlName="state">
          <option *ngFor="let state of states" [value]="state.abbreviation">
            {{ state.name }}
          </option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-raised btn-success"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
